<div class="onboard-content">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0">
                <div
                    class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">ServeLankaHub</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        1
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span
                                    class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span
                                    class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span>
                                        2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span>
                            </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline">Product</span>
                                        1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline">Product</span>
                                        2</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline">Product</span>
                                        3</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline">Product</span>
                                        4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span
                                    class="ms-1 d-none d-sm-inline">Customers</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#"
                            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">loser</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <h1>Grama Niladhari Onboarding</h1>
                <p>Fill this form to onboard the grama nildhari.</p>

                <p>[Description]</p>
                <div class="reg-form">
                    <form [formGroup]="onboardForm" (ngSubmit)="onBoardSumbit()">
                        <div class="row">
                            <div class="col">
                                <label for="GN_ID">Grama Niladhari ID</label>
                                <input type="text" class="form-control" id="GN_ID" placeholder="Grama Niladhari ID" formControlName="GN_ID">
                                <small *ngIf="onboardForm.controls['GN_ID'].dirty && onboardForm.hasError('required','GN_ID')">*Grama Niladhari ID is required</small>
                            </div>
                            
                            <!-- <div class="col">
                                <label for="divisionId">Division ID</label>
                                <input type="text" class="form-control" id="divisionId" placeholder="Division ID" formControlName="divisionId">
                                <small *ngIf="onboardForm.controls['divisionId'].dirty && onboardForm.hasError('required','divisionId')">*Division ID is required</small>
                            </div> -->
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <label for="fistName">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
                                <small *ngIf="onboardForm.controls['firstName'].dirty && onboardForm.hasError('required','firstName')">*First Name is required</small>
                            </div>
                            
                            <div class="col">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
                                <small *ngIf="onboardForm.controls['lastName'].dirty && onboardForm.hasError('required','lastName')">*Last Name is required</small>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                                <small *ngIf="onboardForm.controls['email'].dirty && onboardForm.hasError('required','email')">*Email is required</small>
                            </div>
                            
                            <div class="col">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
                                <small *ngIf="onboardForm.controls['address'].dirty && onboardForm.hasError('required','address')">*Address is required</small>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="mobileNumber">Mobile Number</label>
                                <input type="text" class="form-control" id="mobileNumber"
                                    placeholder="Mobile Number" formControlName="mobileNumber">
                                    <small *ngIf="onboardForm.controls['mobileNumber'].dirty && onboardForm.hasError('required','mobileNumber')">*Mobile Number is required</small>
                            </div>
                            <div class="col">
                                <label for="officeAddress">Office Address</label>
                                <input type="text" class="form-control" id="officeAddress"
                                    placeholder="Office Address" formControlName="officeAddress">
                                    <small *ngIf="onboardForm.controls['officeAddress'].dirty && onboardForm.hasError('required','officeAddress')">*Office Address is required</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="dateofBirth">Date Of Birth</label>
                                <input type="date" class="form-control" id="dateofBirth" placeholder="Date Of Birth" formControlName="dateofBirth">
                                <small *ngIf="onboardForm.controls['dateofBirth'].dirty && onboardForm.hasError('required','dateofBirth')">*Date Of Birth is required</small>
                            </div>
                            <div class="col">
                                <label for="joinedDate">Joined Date</label>
                                <input type="date" class="form-control" id="joinedDate" placeholder="Joined Date" formControlName="joinedDate">
                                <small *ngIf="onboardForm.controls['joinedDate'].dirty && onboardForm.hasError('required','joinedDate')">*Joined Date is required</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn-onboard btn">Onboard</button>
                                <button type="button" class="btn-cancel btn">Cancel</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>

</div>
