.sidebar {
    background-color: rgba(0, 83, 78, 1);
}

h1 {
    justify-content: flex-start;
    margin-left: 130px;
    font-size: 24px;
}

p {
    justify-content: flex-start;
    margin-left: 130px;
}

.onboard-content {
    display: flex;
    justify-content: flex-start;
}

.reg-form {

    justify-content: flex-start;
    margin-left: 130px;
    width: 608px;

}

.col {
    margin-right: 72px;
}

input[type=text],
select,
textarea {

    margin-top: 6px;
    margin-bottom: 16px;


}

label {
    font-size: 14px;
    color: rgba(0, 83, 78, 1);
}

form ::placeholder {
    font-size: 14px;
    color: rgba(223, 223, 223, 1);
}

.btn-onboard {
    background-color: rgba(0, 83, 78, 1);
    color: white;
    font-size: 14px;
    margin-top: 6px;
}

.btn-cancel {
    margin-top: 6px;
    color: rgba(0, 83, 78, 1);
    font-size: 14px;
    border-color: rgba(0, 83, 78, 1);
    margin-left: 10px;
}

nav {
    width: 100%;
}

.bellImg {

    cursor: pointer;

}