<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <button type="button" class="btn btn-icon"> <fa-icon [icon]="faAlignLeft" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
      </button></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="input-group  w-25 h-25">
        <input type="text" class="form-control h-25" placeholder="Search" aria-label="search" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2"><button type="button" class="btn btn-icon"> <fa-icon [icon]="faSearch" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
        </button></span>
      </div>
     <h5>Services</h5>
     <button type="button" class="btn btn-icon"> <fa-icon [icon]="faAngleDown" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
     </button>
    </div>
    <div class="">
      <button type="button" class="btn btn-icon"> <fa-icon [icon]="faGlobe" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
      </button>
      <button type="button" class="btn btn-icon"> <fa-icon [icon]="faMessage" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
      </button>
      <button type="button" class="btn btn-icon"> <fa-icon [icon]="faBell" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
      </button>
      <button type="button" class="btn btn-user"> <fa-icon [icon]="faUser" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
      </button>
    </div>
   
  </div>
</nav>