<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">
      <button type="button" class="btn btn-icon"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"> <fa-icon [icon]="faAlignLeft" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
      </button></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="input-group  w-25 h-25">
        <input type="text" class="form-control h-25" placeholder="Search" aria-label="search" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2"><button type="button" class="btn btn-icon"> <fa-icon [icon]="faSearch" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
        </button></span>
      </div>
     <h5>Services</h5>
     <button type="button" class="btn btn-icon"> <fa-icon [icon]="faAngleDown" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
     </button>
    </div>
    <div class="">
      <button type="button" class="btn btn-icon"> <fa-icon [icon]="faGlobe" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
      </button>
      <button type="button" class="btn btn-icon"> <fa-icon [icon]="faMessage" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
      </button>
      <button type="button" class="btn btn-icon"> <fa-icon [icon]="faBell" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
      </button>
      <button type="button" class="btn btn-user"> <fa-icon [icon]="faUser" [style.color]="' rgba(0, 83, 78, 1)'"></fa-icon>
      </button>
    </div>
   
  </div>
</nav>
<div class="board-container">
  <div class="container">
    <div class="row row-cols-2">
      <div class="col"><app-daily-feed></app-daily-feed></div>
      <div class="col">
        <div class="app-calender">
          <app-calender></app-calender>
        </div>
       <div class="app-appoinments">
        <app-appoinments></app-appoinments>
       </div>
        
      </div>
    </div>
  </div>
  <app-footer></app-footer>

  <!-- Sidebar -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
  