.btn-icon{
    border: none;
    border-color: rgba(0, 83, 78, 1);
    margin-right: 10px;
}
.btn-user{
    border-radius: 60px;
    border-color: rgba(0, 83, 78, 1);
    margin-right: 10px;
    
}
.navbar {
    border-bottom: 1px solid rgba(0, 83, 78, 1);
  }
#basic-addon2{
    height: 35px;
    width:65px;
}
h5{
    font-size: 20px;
    margin-left: 10px;
}
.board-container{
    background-color: rgba(0, 83, 78,8%);
    width: 100%;
    height: 950px;
}
.col{
    margin-top: 20px;
    
}
.app-calender{
    margin-bottom: 20px;
}
.app-appoinments{
    margin-bottom: 20px;
}

 /* For mobile phone */
 @media only screen and  (max-width: 400px) {
    .card{
      width: 100%;
    }
    .col{
        width:100%
    }

}
