<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/logo.png" alt="logo" width="30" height="24">
        </a>
    </div>
</nav>
<div class="login-card">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                <p>Forget Password?</p>
                <button type="button" class="btn-cancel btn">Cancel</button>
                <button type="submit" class="btn-login btn">Login</button>
            </form>
        </div>
    </div>
</div>