h5{
  font-size: 20px;
  color: rgb(0,83,78);
}
.header{
  font-size: 20px;
  color: rgb(0,83,78);
}
.calendar-container{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  margin-top: 10px;

}

/* for mobile screen */
@media only screen and  (max-width: 400px) {
  .card{
    display: none;

  }

}

