h5{
  font-size: 20px;
  color: rgb(0,83,78);
}
.header{
  font-size: 20px;
  color: rgb(0,83,78);
}

.card{
  height: 355px;
  width:100%;
}
 .calendar{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  margin-top: 10px;

}

