<div class="card" style="width: 600px">
  <div class="card-body">
    <h5 class="card-title">Daily Feed</h5>
    <div class="section1">
     
      <img src="../../../../../assets/icons/mahindaImg.jpg" alt="pic"/>
      <span><b>Mahinda Rajapakshe</b> annouced about the next election.</span>
    </div>
   <hr>
   <div class="section1">
     
    <img src="../../../../../assets/icons/ranilImg.jpg"  alt="pic"/>
    <span><b>Ranil Wickramasinghe</b> annouced about the next election.</span>
  </div>
 <hr>
</div>
<div class="card-footer">
  <button type="button" class="btn-load btn">Load More</button>
</div>
  </div>
  
