<div class="container-fluid">
    <div class="row">
        <div class="sidebar">
            <div
                class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="grama-niladhari/dashboard"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <div class="logo">
                     
                      <img src="../../../../../../assets/logo.png" alt="logo" width="30" height="24">
                      <h1>ServeLankaHub</h1>
                    </div>
                   
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                id="menu">
                <li class="nav-item">
                    <a href="grama-niladhari/appointment" class="nav-link align-middle px-0">
                      <img class="svg-icon" src="../../../../../../assets/icons/appoinment.svg" alt="appoinment">
                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Appoinments</span>
                    </a>
                </li>
                <li>
                    <a href="grama-niladhari/certificates" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <img class="svg-icon" src="../../../../../../assets/icons/services.svg" alt="services">  <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Services</span>
                    </a>
                    <ul>
                        <a href="" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Generate Certificates</span>
                        </a>
                    </ul>
                   
                </li>
                <li>
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <img class="svg-icon" src="../../../../../../assets/icons/Demography.svg" alt="demograpghy">  <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Demography</span>
                    </a>
                   
                </li>
                <li>
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <img class="svg-icon" src="../../../../../../assets/icons/privacy.svg" alt="privacy">  <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Privacy and Policy</span>
                    </a>
                   
                </li>
                <li>
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <img class="svg-icon" src="../../../../../../assets/icons/settings.svg" alt="settings">  <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Settings</span>
                    </a>
                   
                </li>
                <li>
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <img class="svg-icon" src="../../../../../../assets/icons/help.svg" alt="help">  <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Help</span>
                    </a>
                   
                </li>
                </ul>
        </div>
    </div>
    </div>
</div>
