<div class="dashboard">
  <div class="sidebar" *ngIf="navbar.isSidebarVisible">
    <app-sidebar></app-sidebar>
  </div>
 <div class="col">
  <app-navbar #navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <app-daily-feed></app-daily-feed>
      </div>
      <div class="col-sm-4">
        <app-calender></app-calender>
        <app-appoinments></app-appoinments>
      </div>
      </div>
   </div>
   <div class="footer">
    <app-footer></app-footer>
   </div>
 </div>
 
